@(message: String)

@main("ScalaHacker") {

    <div class="alert alert-info">
        Scala Code Editor
    </div>
    <div id="msg_center"></div>
    <textarea id="code_box" rows="20" class="span12" placeholder="Code here"></textarea>
    <textarea id="testcases_box" rows="10" class="span6" placeholder="test cases"></textarea>
    <div>
        <button id="done" class="btn btn-default">Submit</button>
    </div>
    <div id="well alert alert-info">
        <legend>Output</legend>
        <div id="output"></div>
    </div>
}
