@(message: String)

@main("ScalaHacker (Scala Code Editor)") {
    <div id="msg_center"></div>
    <div>
        <textarea id="code_box" rows="15" class="span12" placeholder="Scala Code here"></textarea>
    </div>
    <div>
        <textarea id="testcases_box" rows="5" class="span4" placeholder="Test Cases"></textarea>
    </div>
    <div>
        <button id="done" class="btn btn-success">Compile and Run</button>
    </div>
    <div id="well alert alert-info">
        <legend>Output</legend>
        <div id="output" class="well"></div>
    </div>
}
